[Desktop Entry]
Type=Application
Name=beams - retro terminal screensaver effect
Comment=Screensaver effect: beams
Exec=beams
Icon=beams
Terminal=false
Categories=Screensaver;
